html {
  box-sizing: border-box;
}

body {
  color: $text-color;
  background-color: $main-color;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

a {
  text-decoration: none;
}
h5 {
  margin: 0;
}
.flex {
  display: flex;
}
.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;

  @include for-size(mobile) {
    width: 480px;
  }

  @include for-size(tablet) {
    width: 768px;
  }

  @include for-size(desktop) {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.header .portfolio-header .flexbox {
  align-items: center;
  justify-content: flex-end;
}

.header .portfolio-header {
  padding-top: 32px;
  padding-bottom: 32px;
}

.header .portfolio-header .mail {
  margin-right: 50px;
}

.portfolio {
  @media screen and (min-width: 1200px) {
    margin-top: 95px;
    margin-bottom: 93px;
  }
  @media screen and (max-width: 767px) {
    margin-top: 60px;
    margin-bottom: 60px;
  }
}

.portfolio-header {
  border-bottom: 1px solid #eeeeee;
}

img {
  display: block;
  height: auto;
  width: 100%;
}
