.title-clientmob {
  font-weight: 700;
  font-size: 28px;
  letter-spacing: 0.03em;
  line-height: 1.17;
  margin: 60px 0 30px 0;
  text-align: center;
  color: $title-color;
}
.clientmob {
  box-sizing: border-box;
  justify-content: space-between;
  padding-bottom: 60px;
  list-style: none;
  margin: 0;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;

  &__list:nth-child(-n + 4) {
    margin-bottom: 30px;
  }
  &__list:nth-child(odd) {
    margin-right: 30px;
  }

  &__list {
    margin: 0;

    height: 90px;

    flex-basis: calc((100% - 30px) / 2);
  }

  &__list:last-child {
    margin-right: 0px;
  }

  &__list--logo-link {
    display: flex;
    margin: 0;
    width: 100%;
    height: 100%;
    color: #afb1b8;
    border: 1px solid #afb1b8;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    transition-property: border;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__list--logo-link:hover svg {
    cursor: pointer;
    fill: $accent-color;
  }

  &__list--logo-link:hover {
    border: 1px solid $accent-color;
    border-radius: 4px;
  }
  &__list--logo-one {
    width: 44px;
    height: 49px;
    fill: currentColor;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__list--logo-two {
    width: 40px;
    height: 52px;
    fill: currentColor;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__list--logo-three {
    width: 41px;
    height: 43px;
    fill: currentColor;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__list--logo-four {
    width: 80px;
    height: 42px;
    fill: currentColor;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__list--logo-five {
    width: 59px;
    height: 47px;
    fill: currentColor;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__list--logo-six {
    width: 88px;
    height: 45px;
    fill: currentColor;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}
