.nav {
  @media screen and (min-width: 768px) {
    display: flex;
  }
  @media screen and (min-width: 1200px) {
    margin-right: auto;
    color: $title-color;
    display: flex;
  }
  &__link-logo {
    padding-top: 24px;
    padding-right: 93px;
  }
  &__link-logo--webtext {
    font-family: Raleway, sans-serif;
    font-weight: 500;
    font-size: 26px;
    line-height: 1.19px;
    letter-spacing: 0.03em;

    color: $accent-color;
  }

  &__link-logo--text {
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      margin-right: 88px;
    }
    @media screen and (min-width: 1200px) {
      font-family: Raleway, sans-serif;
      font-weight: bold;
      font-size: 26px;
      line-height: 1.19;
      letter-spacing: 0.03em;

      margin-right: 93px;

      color: $title-color;
    }
  }
  &-item:not(:last-child) {
    margin-right: 50px;
  }
}
.nav__link-logo {
  @media screen and (min-width: 480px) {
    color: $accent-color;
    font-family: Raleway, sans-serif;
    font-weight: normal;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    -webkit-text-decoration-line: none;
    text-decoration-line: none;
    padding-top: 16px;
    // position: absolute;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    color: $accent-color;
    font-family: Raleway, sans-serif;
    font-weight: normal;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    -webkit-text-decoration-line: none;
    text-decoration-line: none;
    padding: 0;
    margin-top: 26px;
  }
  @media screen and (min-width: 1200px) {
    color: $accent-color;
    font-family: Raleway, sans-serif;
    font-weight: normal;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    -webkit-text-decoration-line: none;
    text-decoration-line: none;
    padding: 0;
    margin-top: 24px;
  }
}
.mobilebtn {
  position: absolute;

  display: inline-flex;
  margin: 0;
  padding: 0;
  margin-top: 22px;
  border: none;
  background-color: transparent;
  top: 0;
  right: 0;

  @media screen and (min-width: 768px) {
    display: none;
  }

  &__close {
    display: none;
  }
  .is-open &__close {
    display: block;
  }
  .is-open &__menu {
    display: none;
  }
  &:focus,
  &:hover {
    fill: $accent-color;
    outline: none;
  }
}
.mobile-menu {
  background-color: $main-color;
  padding: 28px;
  text-align: center;
  font-style: 28px;

  @media screen and (max-width: 767px) {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 453px;

    &.is-open {
      display: block;
    }
  }
  @media screen and (min-width: 768px) {
    display: flex;
    flex-grow: 1;
    padding: 0;
  }
}
.mobile-text {
  @media screen and (min-width: 1200px) {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    text-align: center;
    list-style: none;

    padding: 32px 305px 32px 0;

    display: flex;
    list-style: none;
    margin: 0;

    &__item--link--current {
      color: $accent-color;
      font-weight: 500;
      font-size: 14px;
      line-height: 1.14;
      letter-spacing: 0.02em;

      display: flex;

      position: relative;
    }
    &__item--link {
      color: $title-color;
      text-align: center;
    }
    &__item:not(:last-child) {
      margin: 0 50px 0 0;
    }
  }
  @media screen and (max-width: 767px) {
    margin-left: auto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-align: center;
    list-style: none;
    margin: 0;
    padding: 0;

    &__item {
      margin-bottom: 60px;
    }

    &__item:not(:last-child) {
      margin-bottom: 40px;
    }
    &__item--link {
      color: $title-color;
      text-align: center;
      margin-top: 60px;
    }
    &__item {
      color: $title-color;
      text-align: center;
      margin-top: 60px;
    }
    &__item--link--current {
      color: $accent-color;
      position: relative;
    }
    &__item--link--current::after {
      position: absolute;
      content: "";
      width: 100%;
      height: 4px;
      left: 0;
      bottom: -8px;
      background-color: $accent-color;
      border-radius: 2px;
      margin-bottom: -1px;
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    &__item--link--current {
      color: $accent-color;
      font-weight: 500;
      font-size: 14px;
      line-height: 1.14;
      letter-spacing: 0.02em;

      display: flex;

      position: relative;
    }
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    text-align: center;
    list-style: none;

    padding: 32px 0 32px 0;

    display: flex;
    list-style: none;
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      margin: 0 67px 0 0;
    }

    &__item:not(:last-child) {
      margin: 0 50px 0 0;
    }

    &__item--link {
      color: $title-color;
      text-align: center;
    }
    &__item {
      color: $title-color;
      text-align: center;
    }
    &__item--link--current {
      color: $accent-color;
      position: relative;
    }
    &__item--link--current::after {
      position: absolute;
      content: "";
      width: 100%;
      height: 4px;
      left: 0;
      bottom: -33px;
      background-color: $accent-color;
      border-radius: 2px;
    }
  }
  @media screen and (min-width: 1200px) {
    &__item--link:hover,
    &__item--link:focus {
      color: $accent-color;
    }
    &__item--link--current::after {
      position: absolute;
      content: "";
      width: 100%;
      height: 4px;
      left: 0;
      bottom: -34px;
      background-color: $accent-color;
      border-radius: 2px;
    }
  }
}
.contacts {
  @media screen and (min-width: 1200px) {
    margin: 0;
    padding: 0;
    display: flex;
  }

  @media screen and (max-width: 767px) {
    list-style: none;
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.02em;
    padding: 0;

    &__item:first-child {
      margin-bottom: 16px;
    }
  }

  &__link {
    color: $text-color;

    font-weight: 500;
    //font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    list-style: none;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.02em;

    color: $text-color;
    padding: 21px 0 0 0;
    margin: 0;
  }
  @media screen and (max-width: 1199px) {
    &__item:first-child {
      margin-bottom: 10px;
    }
  }

  @media screen and (min-width: 1200px) {
    &__item {
      display: flex;
      padding: 32px 0 32px 0;
    }
    &__item:first-child {
      padding-right: 30px;
    }
    &__link {
      color: #757575;
      font-size: 14px;
      font-weight: 500;
      line-height: 1.14;
      letter-spacing: 0.02em;
      display: flex;
    }
  }

  @media screen and (min-width: 1200px) {
    &__link:hover {
      color: $accent-color;
    }
  }
}
.header {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    height: 80px;
    border-bottom: none;
  }
  @media screen and (min-width: 480px) and (max-width: 767px) {
    position: relative;
    right: 0;
    left: 0;
    top: 0;
    background-color: $main-color;
    z-index: 1;
    border-bottom: 1px solid #ececec;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: flex;
    height: 60px;
  }
}
.contacts__item {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: flex;
  }
}
