.links-header {
  @media screen and (min-width: 768px) {
    display: inline-block;

    font-weight: 500;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    list-style: none;
    padding: 0 0 0 58px;
    margin: 0;
  }
  &:not(:last-child) {
    margin-bottom: 10px;
  }
  //display: flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding-top: 32px;

  color: $text-color;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.mail__link {
  @media screen and (min-width: 768px) {
    padding: 0;
  }
  padding-right: 30px;
  padding-top: 32px;
  //display: flex;
  align-items: center;

  color: $text-color;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    fill: $accent-color;
    color: $accent-color;
  }
}
.tel__link {
  @media screen and (min-width: 768px) {
    padding: 0;
  }
  padding-top: 32px;
  //display: flex;
  align-items: center;

  color: $text-color;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    cursor: pointer;
    fill: $accent-color;
    color: $accent-color;
  }
}
